boto3==1.9.96
botocore==1.12.96
certifi==2018.10.15
chardet==3.0.4
checksum==1.0.4
dj-database-url==0.5.0
Django==2.1
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-storages==1.7.1
docutils==0.14
gunicorn==19.9.0
idna==2.7
jmespath==0.9.3
Naked==0.1.31
paytm==0.1.8
Pillow==9.2.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycrypto==2.6.1
python-dateutil==2.8.0
pytz==2018.5
PyYAML==6.0
requests==2.19.1
s3transfer==0.2.0
shellescape==3.8.1
six==1.12.0
urllib3==1.23
whitenoise==4.1.2