{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'shop/main.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">
    
   <link rel="icon" href="{%static 'shop/logo/favicon.ico'%}">
        <title>Lambda</title>
  
  </head>

<body style="margin:0px";class="flex-container">
  <header id="header" class="d-flex align-items-center fixed-top" style="background-color:rgb(43, 41, 41);";>
    <div class="container d-flex align-items-center justify-content-between" style="margin-left: 12px;margin-right: 0px;">

      <div> 
        <a href="{% url 'ShopHome' %}"><img src="{% static 'shop/logo/lambda.png' %}" alt="" class="img-fluid" style="height: 70px;margin-right:400px ;"></a>
      </div>
     
        
     

      <nav id="navbar" class="navbar" style="margin-left:40px ;">
       
      <ul style="margin-left:40px ;">
      
          {% if user.is_authenticated %}
         
          <form class="d-flex" style="width:450px;" method=POST action="{% url 'search-user' %}"}>
            {% csrf_token %}
    
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

          <li ><a class="nav-link" href="{% url 'ShopHome' %}">
            <h5 style="color:rgb(57, 141, 97);">Home</h5></a></li>
          <li><a class="nav-link" href="{% url 'profile' %}"><h5 style="color:rgb(57, 141, 97);">Settings</h5></a></li>


          <li><a class="nav-link" href="{% url 'logout' %}"><h5 style="color:rgb(57, 141, 97);">Logout</h5></a></li>
          <li>  <button type="button" class="btn btn-primary mx-lg-3" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="">
            
            Cart(<span id="cart">0</span>)
            </button></li>

        {% else %}
    <li><a class="nav-item nav-link " href="{% url 'AboutUs' %}"><h5 style="color:rgb(57, 141, 97);">About</h5></a></li>
          <li><a class="nav-link scrollto" href="{% url 'login' %}"><h5 style="color:rgb(57, 141, 97);">Login</h5></a></li>
          <li><a class="nav-link scrollto" href="{% url 'register' %}"><h5 style="color:rgb(57, 141, 97);">Register</h5></a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <section id="about" class="about row" style="padding-top:120px;">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Shop</h2>
        <p>Hello <p style="text-transform: uppercase;">{{ user.username }}</p></p>
      </div>
      <div  align="center">
        <div class="col-lg-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
         
        </div>
      </div>
      {% block content %}{% endblock %}
      
    </div>
  </section><!-- End About Us Section -->

  <div style=" bottom: 0;">
  <footer id="footer" >

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="#header" class="scrollto footer-logo"><img src="{% static 'shop/logo/lambda.png' %}" alt="" ></a>
            <h3>Lambda</h3>
            <p> Shop away..</p><br>
          </div>
        </div>

        <div class="copyright">
          &copy; Copyright <strong><span>Elementa Product</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
           Designed and Developed by <a href="#"><strong> Manvik Jain </strong></a>
           <br><p>Contact Us @ manvikjain2418@gmail.com</p>
        </div>
      </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix" style="margin-top: 2px;">
      
        </footer>

     </div>
  



  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   
   
    {% block js %} {% endblock %}
  </body>
</html>